<div id="main-scroller">
    <section class="seccion anim-co">
        <div id="contenedor">
            <figure id="logo-app">
                <img src="img/mquiz.png" />
            </figure>
            <ul id="menu-app">
                <li class="boton-menu anim-g" id="arcade">Arcade</li>
                <li class="boton-menu anim-g" id="contrarreloj">Contrareloj</li>
                <li class="boton-menu anim-g" id="records">Records</li>
            </ul>
        </div>
    </section>
    <section class="seccion anim-co" id="articulo">

    </section>
</div>
<section class="seccion-aux" id="aux">

</section>
<section class="seccion-aux" id="aux2">

</section>
<script type="text/javascript">
    $(document).ready(function() {
        menuPrincipal();
    });
</script>