<header class="anim-g cabecera-seccion">
    <figure class="atras"><img src="img/atras-in.png" /></figure>
    <h2 class="texto-grande titulo-cabecera">Records</h2>
</header>

<div id="contenedor-pregunta">
    <ul id="lista-opciones-pregunta">
        <li class="boton-menu anim-g" id="arcade">Arcade</li>
        <li class="boton-menu anim-g" id="contrarreloj">Contrarreloj</li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        control_articulo_record();
        menu_records();
    });
</script>